/* span{
    margin-left: 5px;
    padding: 2px;
}
a{
    text-decoration: none;
    
}
ul{
    list-style: none;
   
}
li{
    padding: 10px;
}
button{
    margin-right: -9px;
}
h6{
    text-align: center;
    margin-top: 40%;
    padding: 20px;
} 
 */
.logincomponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    top:90px;
    bottom:200px;
   
    right: 400px;
    
}
body{
    background-color: rgb(40, 124, 145);
}
#loginbtn{
   background-color: blue;
   color: white;
    width: 300px;
}
input{
    width: 300px;
}
li{
   list-style:none;
   border: 1px solid black;
   width: 300px;
}
.box{
    height:15px;
   position: relative;
   right: 140px;
  
}
h3{
    color:orange;
   margin-left: 30px;
   
}